@charset "UTF-8";

/* todas as demais medias */

/* Typical Device Breakpoints
Celular: de  320px — 480px.
Tablet: de 481px — 768px.
Laptop: 769px — 1024px.
Desktop: 1025px — 1200px.
TV: 1201px, and more.
*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url('../imagens/back-print.jpg');
    }
    main{
        width: 90vw;
        border:2px solid black;
    }
    main::after{
        content: 'Site feito para impressão!';
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }
    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}
}

/* @media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }
    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}
} */

@media screen and (min-width: 1025px) and (max-width: 1200px){
    body{
        background-image: url('../imagens/back-pc.jpg');
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;}
}

@media screen and (min-width: 1201px){
    body{
        background-image: url('../imagens/back-tv.jpg');
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: block;}
}


